<template>
  <Header />
  <h1>{{ title }}</h1>

  <input
    type="text"
    ref="name"
  /><!-- refs are used to get the DOM element in JS (instead of querySelector) -->

  <button @click="handleName">Do something</button>
  <Modal
    :header="modalHeader"
    :body="modalBody"
    :list="randomJSON"
  />
  <Footer />
</template>

<script>
import Modal from "./components/Modal";
import Header from "./components/Header";
import Footer from "./components/Footer";

export default {
  name: "App",
  components: {
    Header,
    Footer,
    Modal,
  },

  data() {
    return {
      title: "My first Vue App ;.-)",

      modalHeader: "This is the modal header",
      modalBody: "This is the modal body",
      randomJSON: [
        { id: 1, name: "item 1" },
        { id: 2, name: "item 2" },
        { id: 3, name: "item 3" },
        { id: 4, name: "item 4" },
      ],
    };
  },

  methods: {
    handleName() {
      console.log(this.$refs.name);
      // this.title = "My first " + this.$refs.name.value;
      return this.$refs.name.value.length > 0
        ? (this.title = "My first " + this.$refs.name.value)
        : (this.title = "My first Vue App ;.-)");
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
